.FilterPrice {
	display: flex;
	flex-direction: column;
}

.FilterPrice h3{
	font-size: 22px;
}

.FilterPrice form {
	display: flex;
	flex-direction: column;
}

.FilterPrice label {
	font-size: 14px;
	margin: 0 8px 0 12px;
	font-weight: bold;
}

.FilterPrice label:first-child {
	margin-left: 0;
}

.FilterPrice input {
	height: 20px;
	width: 60px;
	padding: 5px 15px;
	font-size: 14px;
}

.FilterPrice input[type=submit] {
	width: 100%;
	height: 35px;
	cursor: pointer;
	margin-top: 16px;
	padding: 8px 10px;
	background-color: #323C48;
	color: #fff;
	border: none;
	font-size: 14px;
}

.FilterPrice input[type=submit]:hover {
	background-color: rgb(58, 70, 83);
	color: #fff;
	border: none;
	font-size: 14px;
}