.Catalog {
  display: grid;
  grid-template-areas: "filters productList basket";
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2vw;
  max-width: 1400px;
  margin: 0 auto;
  color: #323c48;
}

.Error {
  width: 600px;
  margin: 300px auto;
  text-align: center;
}

.Catalog h1 {
  font-size: 36px;
}

.Catalog h3 {
  font-size: 20px;
}

@media all and (max-width: 575px) {
  .Catalog {
    max-width: 360px;
    grid-template-areas:
      "filters"
      "productList"
      "basket";
    grid-template-columns: 1fr;
  }
}
