.Basket {
  grid-area: basket;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.Basket > button {
  margin-bottom: 10px;
}

.BasketHeader {
  display: flex;
  align-items: baseline;
}

.BasketHeader svg {
  margin-right: 10px;
}

.BasketHeader h3 {
  margin: 0 12px 10px 0;
}

.BasketHeader span {
  margin-right: 10px;
}

.BasketHeader a {
  font-size: 14px;
  padding: 4px 15px;
  border: 1px solid #323c48;
  border-radius: 15px;
  color: #000;
}

.BasketHeader a:hover {
  color: #fff;
  background-color: #323c48;
}

.BasketBody {
  display: flex;
  flex-direction: column;
  padding: 0 0 15px;
}

.BasketBody span {
  margin: 4px 0;
}

.BasketBody span > strong {
  font-size: 20px;
  margin: 0 6px 0 8px;
}

@media all and (max-width: 575px) {
  .Basket {
    padding: 0 15px;
  }
}
